__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# data & outputs
data/
datasets/
labelled_data*/
runs*/
outputs*/
checkpoints*/
patches*/
experiments*/
inferenced*/
output*/
tinycnn_patch48_*/
unlabelled_data*/

# model / large binaries
*.pt
*.pth
*.ckpt
*.onnx
*.tflite

# media
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff

# OS/editor
.DS_Store
.vscode/
.idea/
*.mp4
*.mp4
