# python
__pycache__/
*.pyc
.venv/
env/
*.ipynb_checkpoints

# training artifacts
data/models/
data/runs/
*.pt
*.pth
*.onnx
*.bin

# datasets (push with rsync/gsutil/scp instead)
labelled_data/images/
labelled_data/train/*
labelled_data/valid/*
labelled_data/test/*
!labelled_data/**/_annotations.coco.json
