<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <h2 align="center" style="background-color: cadetblue; padding: 10px">
      Reset Password
    </h2>
    <div class="forgot_password">
      <form action="/reset_password" method="post">
        <label for="username">Username:</label>
        <br /><input type="text" id="username" name="username" /><br />

        <label for="question1_answer">What is your mother's maiden name?</label>
        <br /><input
          type="text"
          id="question1_answer"
          name="question1_answer"
        /><br />
        <label for="question2_answer"
          >What was the name of your first pet?</label
        >
        <br /><input
          type="text"
          id="question2_answer"
          name="question2_answer"
        /><br />

        <label for="new_password">New Password:</label>
        <br /><input
          type="password"
          id="new_password"
          name="new_password"
        /><br />
        <br /><input type="checkbox" onclick="togglePassword()" /> Show
        Password<br />
        <center><input type="submit" value="Reset Password" /></center>
      </form>
      <br />
      <p align="center">
        Return to the <a href="/login">Login Page</a> or <a href="/register">Register Page</a>
      </p>
    </div>
    <script>
      function togglePassword() {
        var newPassword = document.getElementById("new_password");
        if (newPassword.type === "password") {
          newPassword.type = "text";
        } else {
          newPassword.type = "password";
        }
      }
    </script>
  </body>
</html>
